<!-- to load static files like css -->
    
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- if-else statements -->
    {% if title %}
    <title>Django Blog - {{title}}</title>
    {% else %}
    <title>Django Blog</title>
    {% endif %}
    
    <link rel="stylesheet" href="static/blog/bootstrap.min.css">
    <script src="static/blog/bootstrap.min.js"></script>
    <script src="static/blog/jquery.js"></script>
</head>
<body>
    <nav class="nav bg-primary mb-3">
        <ul class="navbar">
            <li class="nav-item ml-5"><a href="{% url 'blog-home' %}" style="color:#fff;">home</a></li>
            <li class="nav-item ml-5"><a href="{% url 'blog-about' %}" style="color:#fff;">about</a></li>
            <li class="nav-item ml-5"><a href="{% url 'register' %}" style="color:#fff;">Register</a></li>
            <li class="nav-item ml-5"><a href="" style="color:#fff;">item 4</a></li>
        </ul>
    </nav>

    <!-- # creating a block : so that all pages have this part as common -->
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">{{message}}</div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>

</body>
</html>